body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
    width: 80vw;
    margin: 0 auto;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav > span {
    margin-right: 15px;
}
.nav > span > .nav-link {
    color: black;
    text-decoration: none;
}
.nav > span > .nav-link:active {
    color: mediumspringgreen;
}
.nav > span > .nav-link:hover {
    color: lightseagreen;
}