body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: gray;
    width: 60vw;
    margin: 0 auto;
}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav > span {
    margin-right: 15px;
}
.nav > span > .nav-link {
    text-decoration: none;
    color: gray;
}
.nav > span > .nav-link:hover {
    color: black;
    text-decoration: underline;
}
/*nav-link active class name*/
.nav > span > .active {
    text-decoration: underline;
}

.image {
    width: 300px;
    border-radius: 5px;
}
