body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
    width: 80vw;
    margin: 0 auto;
}

.nav {
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav > span {
    margin-right: 15px;
}
.nav > span > .nav-link {
    color: lightseagreen;
    text-decoration: none;
}
.nav > span > .nav-link:hover {
    color: cadetblue;
}
/*nav-link active class name*/
.active {
    color: mediumspringgreen;
}

.image {
    width: 300px;
    border-radius: 5px;
}